<html>
    <head>
        <title>Payroll</title>
    </head>
    <body>
        <div>
            <h1><a href="">Payroll</a></h1>
            <p>{{Employee}}</p>
        </div>

        <div>
            <div>
    <p>Note : Esi is 1.75% on payable salary</p>
</div>

{% for employee in employees %}
    <div>
        <p>Name: {{ employee }} <!-- {{ salary }} --></p>

    </div>
{% endfor %}

{% for sal in salary %}
    <div>
        <p>salary:{{ sal }}</p>
    </div>
{% endfor %}


{% for salary in salary_payable %}
    <div>
        <p>salary - payable:{{ salary }}</p>
    </div>
{% endfor %}

<div>
    <p>ESI:{{ esi }} %</p>
</div>

{% for cut in esi_cutting %}
    <div>
        <p>ESI Cutting : {{ cut }}</p>
    </div>
{% endfor %}

{% for net in net_payable %}
    <div>
        <p>Salary after cutting ESI : {{ net }}</p>
    </div>
{% endfor %}

{% for i in no_of_holiday %}
    <div>
        <p>Net no of Holidays(including absent hrs) : {{ i }}</p>
    </div>
{% endfor %}

{% for i in salary_deducted %}
    <div>
        <p>Salary Deducted : {{ i }}</p>
    </div>
{% endfor %}

{% for i in total_ot_hrs %}
    <div>
        <p>Total OT hours : {{ i }}</p>
    </div>
{% endfor %}

{% for i in Ot_Salary %}
    <div>
        <p>OT Salary : {{ i }}</p>
    </div>
{% endfor %}

{% for i in net_final_payable %}
    <div>
        <p>Net Final Payable Salary : {{ i }}</p>
    </div>
{% endfor %}
        </div>
    </body>
</html>
