<html>
<head>
    <title style="margin-left:10%">Payroll</title>

    {% load static %}

</head>

<style type="text/css">
    td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#datepicker{
    display: block;
    margin: auto;
}

.rowt
{
  /*border:5px solid #42a5f5;  */
    border:5px solid #2BBBAD;
    margin-top:10px;
    
}


</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
<script type="text/javascript" type="text/javascript" href="{{ STATIC_URL }}/bootstrap.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $( function() {
    $( "#datepicker" ).datepicker({ changeMonth:true,changeYear:true,monthNames: ["1","2","3","4","5","6","7","8","9","10","11","12"],

       showButtonPanel: true, dateFormat: 'MM yy', justMonth: true,});
} );



</script>
</head>
<body>

    
<div>
    <h1><a href="">Payroll</a></h1>
</div>


<!-- ================================================================================== -->


   <div class="row">
    <div class="card horizontal" style="margin-left: 20%;margin-right: 20%">
      <div class="card-stacked">
        <div class="card-content">
          <div class="row">
                <form  class="col s12" name="datepicker" action="{% url 'get_data' %}" method="post" >{% csrf_token %}
                <div class="col s6">
                    Date: <input type="text" id="datepicker" name="datepicker" >
                    <div class="card-action" >
                        <input type="submit" class="btn waves-effect waves-light" name="dp"  value="Submit">
                    </div>
                    <p>Note : Esi is 1.75% on payable salary</p>
                </div>
                </form>  
</div>
      </div>
    </div>
  </div>

<!-- ================================================================================== -->


<div class=" card row rowt" style="margin-left: 10%;margin-right: 10%;padding:2%">


<table class="striped responsive-table col s12"  >
    <thead style="font-weight: bold;">

  
        <td>Name</td>
        <td>Salary</td>
        <td>Salary Payable</td>
        <td>ESI Deduction</td>
        <td>Salary after cutting ESI</td>
        <td>Net no of holidays(including absent hrs)</td>
        <td>Salary Deducted</td>
        <td>Total OT hours</td>
        <td>OT Salary</td>
        <td>Net Final Payable Salary</td>

    </thead>

    {% for e in emp_data %}
        <tr>
            <td style="font-weight: bold;">{{ e.name_of_employee }}</td>
            <td>{{ e.salary }}</td>
            <td>{{ e.salary_payable }}</td>
            <td>{{ e.esi_cutting }}</td>
            <td>{{ e.net_payable }}</td>
            <td>{{ e.no_of_holiday }}</td>
            <td>{{ e.salary_deducted }}</td>
            <td>{{ e.total_ot_hrs }}</td>
            <td>{{ e.Ot_Salary }}</td>
            <td>{{ e.net_final_payable }}</td>

        </tr>
    {% endfor %}

</table>

</div>
</body>
</html>